# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/ios/main/
/build/classes/kotlin/jvm/main/
*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/